.common-navbar {
  background-color: $bp-blue;
  padding: 0;
  margin: 0;

  .navbar {
    position: static;
    font-family: 'Roboto';
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    font-family: Poppins;
    font-weight: bold;
    text-shadow: none;
  }
}

.active{
  color: $white;
}