.common-navbar {
  background-color: $bp-blue;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;

  .navbar {
    font-family: $sans-serif;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }

  .navbar-brand {
    font-family: $poppins;
    font-weight: bold;
    text-shadow: none;

    img {
      margin-right: 0.5rem;
    }
  }

  .navbar-nav {
    .nav-link {
      font-family: $poppins;
      font-size: 0.9rem;
      font-weight: 500;
      color: $white-80;
    }
  }

  .navbar-toggler {
    border-color: transparent;
  }

  &.transparent {
    background-color: transparent;
    transition: background 2.5s;

    &.expanded {
      background-color: $bp-blue;
      transition: background 0s;
      // background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba($bp-blue, 0) 56px, rgba($bp-blue, 1) 56px, rgba($bp-blue, 1) 100%);
    }
  }

  &.inverse {
    background-color: inherit;

    .navbar-brand {
      img {
        content: url('../../images/branding/logo.png');
      }

      color: $bp-blue;
    }

    .navbar-nav {
      .nav-link {
        font-family: $poppins;
        font-size: 0.9rem;
        font-weight: 500;
        color: $bp-blue-80;
      }
    }

    &.transparent {
      &.expanded {
        background-color: $white;
      }
    }
  }
}
