.contact-button {
  background-color: $off-white;
  color: $black;
  font-family: $sans-serif;
  min-height: 30vh;

  .btn {
    background-color: $bp-blue;
    color: $white;
  }

  .subheader {
    padding-bottom: 20px;
  }
}
