.our-projects {
  .card-deck {
    justify-content: center;
    align-items: center;
  }

  .project-card {
    width: 38%;

    @media screen and (max-width: 767px) {
      width: 70%;
    }

    .card-body {
      height: 100px;
    }
  }
}
