.page-header {
  background-color: $bp-blue;
  background-size: cover;
  color: $white;
  font-family: $header-text;
  min-height: 50vh;

  .title {
    font-size: 45px;
    height: 150px;
    margin-top: 15px;
  }

  .body {
    font-size: 25px;
    line-height: 1.5em;
    opacity: 0.7;
  }
}
