@import 'partials/all';
@import 'pages/all';
@import 'components/all';

h1 {
  color: $black;
  font-family: $header-text;

  .header {
    color: $white;
  }
}

h4 {
  color: $gray;
  font-weight: 400 !important;
}

.container {
  @media screen and (min-width: 992px) {
    max-width: 920px;
  }
}

.blue {
  color: $bp-blue;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.raised-button {
  &.btn {
    background-color: $white;
    background-image: none;
    border: 1px solid transparent !important;
    border-radius: 3px;
    color: $black;
    font-family: $bp-text;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
    user-select: none;
    -webkit-transition: 150ms;
    transition: 150ms;

    &.blue {
      background-color: $bp-blue;
      color: $white;

      &:hover {
        background-color: $bp-blue;
        color: $white;
      }

      &:focus {
        background-color: $bp-blue;
        color: $white;
      }

      &:active {
        background-color: $bp-blue !important;
        color: $white !important;
      }
    }

    &:active {
      background-color: $white !important;
      color: $black !important;
    }

    &:focus {
      background-color: $white;
      color: $black;
    }

    &:hover {
      background-color: $white;
      color: $black;
      transform: translateY(-3px);
    }
  }
}
