.project-page {
  padding-bottom: 200;
  padding-top: 100;

  .title {
    height: 100px;
  }

  .current-projects {
    display: flex;

    .card-deck {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .project-card {
        flex: 1 0 100%;
        max-width: 38%;

        @media screen and (max-width: 767px) {
          flex: 1 0 100%;
          max-width: none;

          .card-text {
            min-height: 16vh;
          }
        }
      }
    }
  }
}
