@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

$dark: #2c3e50;
$blue: #187be5;

h1{
  color: $dark;
}
.subtitle {
  margin: 50px 0 50px 0;
  line-height: 1.2em;
}

@media screen and (min-width: 480px) {
  .subtitle {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 480px) {
  .subtitle {
    font-size: 1.8em;
  }
}
