// colors
$bp-blue:   #187be5;
$bp-blue-95:  rgba($bp-blue, 0.95);
$bp-blue-80:  rgba($bp-blue, 0.8);
$bp-blue-75:  rgba($bp-blue, 0.75);

$white:     #fff;
$white-95:    rgba($white, 0.95);
$white-80:    rgba($white, 0.8);
$white-75:    rgba($white, 0.75);
$white-60:    rgba($white, 0.6);
$white-40:    rgba($white, 0.4);

$off-white: #f8f8f8;

$black:     #2c3e50;

$gray:      #7e8893;

$dark-gray: #2c3e50;

$timeline-number:   #93c9fe;
$timeline-date:     #818181;

// fonts
$poppins:     'Poppins';

$sans-serif:  'Nunito Sans', sans-serif;
